:root {
  font-size: 18px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #282a36;
  color: #eee;
}

.flex-container {
  display: flex;
}

div.about-me-image {
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 50vw;
}

.about-me-text {
  width: 50vw;
  padding-left: 2rem;
}

img {
  max-width: 100%;
}

nav ul.flex-container {
  justify-content: space-around;
}

nav ul a {
  text-decoration: none;
  color: inherit;
}

nav ul a:hover {
  color: grey;
}

section {
  margin-top: 5vh;
}

h3.text-center {
  text-align: center;
}

#interests ul img {
  max-height: 100px;
}

#interests ul.flex-container {
  justify-content: space-around;
  flex-wrap: wrap;
}