@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
:root {
  font-size: 18px;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background: #282a36;
  color: #eee;
  font-family: 'Source Sans Pro', sans-serif;
}

.flex-container {
  display: flex;
}

div.about-me-image {
  height: auto;
  overflow: hidden;
  text-align: center;
  width: 50vw;
}

.about-me-text {
  width: 50vw;
  padding-left: 2rem;
}

img {
  max-width: 100%;
}

nav {
  border-bottom: 1px solid white;
  padding: 1rem;
}

nav ul.flex-container {
  justify-content: space-around;
}

nav ul a {
  text-decoration: none;
  color: inherit;
}

nav ul a:hover {
  color: grey;
}

section {
  margin-top: 5vh;
}

.text-center {
  text-align: center;
}

#interests ul img {
  max-height: 100px;
}

#interests ul.flex-container {
  justify-content: space-around;
  flex-wrap: wrap;
}

#experience ol {
  list-style: decimal;
  margin-left: 3vh;
}

a {
  text-decoration: none;
  color: rgb(17, 126, 216);
  ;
}

a:hover {
  color: rgb(12, 93, 160);
}

.container {
  max-width: 90%;
  margin: auto;
}

.about-me-image {
  margin: auto;
}

.text-justify {
  text-align: justify;
}

i.fa {
  padding-right: 5px;
}

section#contact .flex-container {
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  section.flex-container#about {
    flex-direction: column-reverse;
  }
  .about-me-text {
    width: auto;
    padding: 0 0.5rem;
  }
  div.about-me-image {
    width: auto;
  }
}